<h3>All Characters</h3>

<ul>
  <% if @characters != nil %>
    <% @characters.each do |character| %>
      <li>
        <%= "#{character.name} is on #{TelevisionShow.find(character.show_id).title}" %>
      </li>
    <% end %>
  <% end %>
</ul>
