<h3>All Characters</h3>

<ul>
  <% if @characters != nil %>
    <% @characters.each do |character| %>
      <li>
        <%= "#{character.name} is played by #{character.actor_name} on #{TelevisionShow.find(character.show_id).title}. Description: #{character.description}" %>
      </li>
    <% end %>
  <% end %>
</ul>
